:host {
	display: flex;
	flex: 0 1 100%;
	flex-direction: column;
}

.header {
	flex: auto;
}

.content {
	display: flex;
	flex: 1 1 100%;
	overflow: hidden;

	.content__inner {
		display: flex;
		flex: 0 0 100%;
		overflow: scroll;
		flex-direction: column;
	}
}

.spiner {
	display: flex;
	justify-content: center;
}

.bars {
	display: flex;
	flex-direction: column;
	width: 100px;
}
